# FTP server credentials to download the raw data
FTP_USER=
FTP_PASSORD=

# InfluxDB Token to read/write given database
INFLUXDB_TOKEN=

# CDF lib installation path for Python spacepy
# - CDF software download link: https://cdf.gsfc.nasa.gov/
# - About spacepy with pycdf: https://spacepy.github.io/pycdf.html 
CDF_LIB=